
.vs/NewMao.WebApi/v15/.suo
.vs/NewMao.WebApi/v15/Server/sqlite3/db.lock
.vs/NewMao/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/config/applicationhost.config
.vs/NewMao.WebApi/v15/Server/sqlite3/storage.ide
.vs/NewMao.WebApi/v15/Server/sqlite3/storage.ide-shm
.vs/NewMao.WebApi/v15/Server/sqlite3/storage.ide-wal
.vs/NewMao.WebApi/DesignTimeBuild/.dtbcache
NewMao.Service/obj/Debug/netstandard2.0/NewMao.Service.csproj.CoreCompileInputs.cache
NewMao.Interface/obj/Debug/netstandard2.0/NewMao.Interface.csproj.CoreCompileInputs.cache
NewMao.Interface/obj/Debug/netstandard2.0/NewMao.Interface.pdb
*.cache
NewMao.Core/obj/Debug/netstandard2.0/NewMao.Core.pdb
NewMao.Core/obj/Debug/netstandard2.0/NewMao.Core.dll
NewMao.Core/obj/Debug/netstandard2.0/NewMao.Core.csprojAssemblyReference.cache
NewMao.Core/obj/Debug/netstandard2.0/NewMao.Core.csproj.FileListAbsolute.txt
NewMao.Core/obj/Debug/netstandard2.0/NewMao.Core.csproj.CopyComplete
NewMao.Core/bin/Debug/netstandard2.0/NewMao.Core.pdb
NewMao.Core/bin/Debug/netstandard2.0/NewMao.Core.dll
NewMao.Core/bin/Debug/netstandard2.0/NewMao.Core.deps.json
NewMao.Core/bin/Debug/netstandard2.0/NewMao.Common.pdb
NewMao.Core/bin/Debug/netstandard2.0/NewMao.Common.dll
NewMao.Common/obj/Debug/netstandard2.0/NewMao.Common.pdb
NewMao.Common/obj/Debug/netstandard2.0/NewMao.Common.dll
NewMao.Common/obj/Debug/netstandard2.0/NewMao.Common.csproj.FileListAbsolute.txt
NewMao.Common/bin/Debug/netstandard2.0/NewMao.Common.pdb
NewMao.Common/bin/Debug/netstandard2.0/NewMao.Common.dll
NewMao.Common/bin/Debug/netstandard2.0/NewMao.Common.deps.json
NewMao.Core/obj/Debug/netstandard2.0/NewMao.Core.csprojAssemblyReference.cache
NewMao.Core/obj/Debug/netstandard2.0/NewMao.Core.csproj.FileListAbsolute.txt
NewMao.Common/obj/Debug/netstandard2.0/NewMao.Common.csproj.FileListAbsolute.txt
NewMao.Common/bin/Debug/netstandard2.0/NewMao.Common.deps.json
NewMao.Entity/bin/Debug/netstandard2.0/NewMao.Common.dll
NewMao.Entity/bin/Debug/netstandard2.0/NewMao.Common.pdb
NewMao.Entity/bin/Debug/netstandard2.0/NewMao.Entity.deps.json
NewMao.Entity/bin/Debug/netstandard2.0/NewMao.Entity.dll
NewMao.Entity/bin/Debug/netstandard2.0/NewMao.Entity.pdb
NewMao.Interface/bin/Debug/netstandard2.0/NewMao.Interface.pdb
NewMao.Interface/bin/Debug/netstandard2.0/NewMao.Interface.dll
NewMao.Interface/bin/Debug/netstandard2.0/NewMao.Interface.deps.json
NewMao.Interface/bin/Debug/netstandard2.0/NewMao.Entity.pdb
NewMao.Interface/bin/Debug/netstandard2.0/NewMao.Entity.dll
NewMao.Interface/bin/Debug/netstandard2.0/NewMao.Common.pdb
NewMao.Interface/bin/Debug/netstandard2.0/NewMao.Common.dll
NewMao.Entity/obj/Debug/netstandard2.0/NewMao.Entity.pdb
NewMao.Entity/obj/Debug/netstandard2.0/NewMao.Entity.dll
NewMao.Entity/obj/Debug/netstandard2.0/NewMao.Entity.csprojAssemblyReference.cache
NewMao.Entity/obj/Debug/netstandard2.0/NewMao.Entity.csproj.FileListAbsolute.txt
NewMao.Entity/obj/Debug/netstandard2.0/NewMao.Entity.csproj.CoreCompileInputs.cache
NewMao.Entity/obj/Debug/netstandard2.0/NewMao.Entity.csproj.CopyComplete
NewMao.Interface/obj/Debug/netstandard2.0/NewMao.Interface.csproj.CopyComplete
NewMao.Interface/obj/Debug/netstandard2.0/NewMao.Interface.csproj.CoreCompileInputs.cache
NewMao.Interface/obj/Debug/netstandard2.0/NewMao.Interface.csproj.FileListAbsolute.txt
NewMao.Interface/obj/Debug/netstandard2.0/NewMao.Interface.csprojAssemblyReference.cache
NewMao.Interface/obj/Debug/netstandard2.0/NewMao.Interface.dll
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Common.dll
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Common.pdb
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Core.dll
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Core.pdb
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Entity.dll
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Entity.pdb
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Interface.dll
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Interface.pdb
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Repository.deps.json
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Repository.dll
NewMao.Repository/bin/Debug/netstandard2.0/NewMao.Repository.pdb
NewMao.Repository/obj/Debug/netstandard2.0/NewMao.Repository.assets.cache
NewMao.Repository/obj/Debug/netstandard2.0/NewMao.Repository.csproj.CopyComplete
NewMao.Repository/obj/Debug/netstandard2.0/NewMao.Repository.csproj.CoreCompileInputs.cache
NewMao.Repository/obj/Debug/netstandard2.0/NewMao.Repository.csproj.FileListAbsolute.txt
NewMao.Repository/obj/Debug/netstandard2.0/NewMao.Repository.csprojAssemblyReference.cache
NewMao.Repository/obj/Debug/netstandard2.0/NewMao.Repository.dll
NewMao.Repository/obj/Debug/netstandard2.0/NewMao.Repository.pdb
NewMao.Repository/obj/NewMao.Repository.csproj.nuget.cache
NewMao.Repository/obj/project.assets.json
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Common.dll
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Common.pdb
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Core.dll
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Core.pdb
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Entity.dll
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Entity.pdb
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Interface.dll
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Interface.pdb
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Repository.dll
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Repository.pdb
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Service.deps.json
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Service.dll
NewMao.Service/bin/Debug/netstandard2.0/NewMao.Service.pdb
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Common.dll
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Common.pdb
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Core.dll
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Core.pdb
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Entity.dll
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Entity.pdb
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Interface.dll
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Interface.pdb
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Repository.dll
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Repository.pdb
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Service.dll
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.Service.pdb
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.WebApi.deps.json
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.WebApi.dll
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.WebApi.pdb
NewMao.WebApi/bin/Debug/netcoreapp2.1/NewMao.WebApi.runtimeconfig.dev.json
